In [3]:
import pandas
import codecs

In [4]:
data = pandas.read_csv('titanic.csv', index_col='PassengerId')

In [221]:
data.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35,0,0,373450,8.0500,NaN,S

In [63]:
mf = data['Sex'].value_counts()
mf

male      577
female    314
Name: Sex, dtype: int64

In [93]:
f = open('ans1', 'w')

ans1 = (str(mf[0]) +' '+ str(mf[1]))
ans1 = ans1.decode('utf8')

f.write(ans1)
f.close()

In [92]:

f = codecs.open('ans1', 'r')
f.readline().decode('cp1251')

u'577 314'

In [95]:
! less ans1

577 314

In [100]:
s = data['Survived'].value_counts()[1]
d = data['Survived'].value_counts()[0]
ans2 = s*100/(s+d)
print ans2

f = open('ans2', 'w')
f.write(str(ans2))
f.close()

38

In [111]:
all_class = data['Pclass'].value_counts()
all_class

3    491
1    216
2    184
Name: Pclass, dtype: int64

In [125]:
first = all_class[1]
second = all_class[2]
third = all_class[3]
percent = first*100./(first+second+third)

In [122]:
f = open('ans3', 'w')
f.write(str(percent))
f.close()

In [124]:
! less ans3

24.2424242424

In [6]:
age_sum = data['Age'].sum()
age_count = data['Age'].count()
mean = age_sum/age_count
mean

29.69911764705882

In [7]:
age_sorted=data['Age'].sort_values()
mean_id = age_count/2
age_first=age_sorted[mean_id-1:mean_id+1]
median = age_first.sum()/2
median

28.0

In [156]:
f = open('ans3', 'w')
f.write(str(mean)+' '+str(median))
f.close()

In [158]:
from scipy.stats.stats import pearsonr

In [384]:
f = open('ans4', 'w')
f.write(str(pearsonr(data['SibSp'], data['Parch'])[0]))
f.close()

In [172]:
import re

In [406]:
re_name = re.compile(r'([^,]*), (Mrs|Miss)[.] ([^ ()]*)') 
def names(x):
    m = re_name.match(x)
    if m:
        x =  re.sub(re_name,m.group(3), x)
    return x

In [414]:
data = pandas.DataFrame(data)
print type(data)

new_data = pandas.DataFrame(data['Name'])
new_data = new_data.applymap(lambda x: names(x))
ans5 = new_data['Name'].value_counts().keys()[0]
ans5

<class 'pandas.core.frame.DataFrame'>

'Mary'

In [411]:
f = open('ans5', 'w')
f.write(ans5)
f.close()