In [100]:
import pandas as pd
import numpy as np
from sklearn import tree

In [129]:
x = pd.read_csv('titanic.csv', usecols=['Survived', 'Pclass', 'Sex','Fare', 'Age'])

In [130]:
x['Sex'] = x['Sex'] == 'female'

In [123]:
x.count()

Survived    891
Pclass      891
Sex         891
Age         714
Fare        891
dtype: int64

In [131]:
x = x[x['Age'].notnull()]
x.count()

Survived    714
Pclass      714
Sex         714
Age         714
Fare        714
dtype: int64

In [127]:
y = pd.DataFrame(x['Survived'])
y.head()

   Survived
0         0
1         1
2         1
3         1
4         0

In [132]:
del x['Survived']
x.head()

   Pclass    Sex  Age     Fare
0       3  False   22   7.2500
1       1   True   38  71.2833
2       3   True   26   7.9250
3       1   True   35  53.1000
4       3  False   35   8.0500

In [133]:
clf = tree.DecisionTreeClassifier(random_state=241)

In [134]:
clf = clf.fit(x, y)

In [199]:
ans = clf.feature_importances_

In [200]:
ans

array([ 0.14751816,  0.30051221,  0.25124241,  0.30072722])

In [201]:
x.columns

Index([u'Pclass', u'Sex', u'Age', u'Fare'], dtype='object')

In [202]:

val = [a for a in ans]
ans1 = dict(zip(ans, x.columns))
ans1

{0.14751816099515022: 'Pclass',
 0.25124241277681203: 'Age',
 0.30051221095823932: 'Sex',
 0.3007272152697984: 'Fare'}

In [208]:
ans1 = sorted(ans1.items())

In [215]:
f = open('ans6', 'w')
f.write(ans1[-1][1] + ' ' + ans1[-2][1])
f.close()

In [216]:
! less ans6

Fare Sex