In [1]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import Ridge
import pandas as pd
import numpy as np
from sklearn.feature_extraction import DictVectorizer
from scipy.sparse import hstack

In [2]:
data_train = pd.read_csv('salary-train.csv')
data_test = pd.read_csv('salary-test-mini.csv')

In [3]:
data_train.FullDescription = data_train.FullDescription.str.lower()
data_test.FullDescription = data_test.FullDescription.str.lower()

In [4]:
data_train['FullDescription'] = data_train['FullDescription'].replace('[^a-zA-Z0-9]', ' ', regex = True)
data_test['FullDescription'] = data_test['FullDescription'].replace('[^a-zA-Z0-9]', ' ', regex = True)

In [5]:
vector = TfidfVectorizer(min_df=5)
vector_train = vector.fit_transform(data_train.FullDescription)
vector_test = vector.transform(data_test.FullDescription)

In [6]:
data_train['LocationNormalized'].fillna('nan', inplace=True)
data_train['ContractTime'].fillna('nan', inplace=True)

data_test['LocationNormalized'].fillna('nan', inplace=True)
data_test['ContractTime'].fillna('nan', inplace=True)

onehot = DictVectorizer()
oh_train = onehot.fit_transform(data_train[['LocationNormalized', 'ContractTime']].to_dict(orient = 'records'))
oh_test = onehot.transform(data_test[['LocationNormalized', 'ContractTime']].to_dict(orient = 'records'))

In [7]:
train = hstack((vector_train, oh_train))
test = hstack((vector_test, oh_test))

In [8]:
ridgereg = Ridge(alpha=1,random_state=241)

In [9]:
ridgereg.fit(train, data_train.SalaryNormalized)
Salary_pred = ridgereg.predict(test)

In [10]:
Salary_pred

array([ 56555.61500155,  37188.32442618])

In [11]:
data_test

,FullDescription,LocationNormalized,ContractTime,SalaryNormalized
0,we currently have a vacancy for an hr project ...,Milton Keynes,contract,NaN
1,a web developer opportunity has arisen with an...,Manchester,permanent,NaN

In [15]:
with open('ans4.1', 'w') as f:
    f.write(str(round(Salary_pred[0])) + ' ' + str(round(Salary_pred[1])))

In [16]:
!less ans4.1

56556.0 37188.0