In [1]:
import pandas as pd
import numpy as np
from sklearn.decomposition import PCA

In [5]:
data = pd.read_csv('close_prices.csv')
y = pd.read_csv('djia_index.csv')

In [3]:
data.head()

,date,AXP,BA,CAT,CSCO,CVX,DD,DIS,GE,GS,...,PFE,PG,T,TRV,UNH,UTX,V,VZ,WMT,XOM
0,2013-09-23,76.440002,117.510002,85.029999,24.270000,125.519997,59.409999,64.750000,24.280001,165.250000,...,28.799999,79.279999,34.220001,86.379997,71.820000,109.419998,196.240005,47.980000,76.419998,87.750000
1,2013-09-24,76.070000,119.000000,85.110001,24.139999,124.489998,59.319997,64.320000,24.320000,162.970001,...,28.709999,78.620003,34.090000,85.870003,72.320000,110.000000,193.339996,47.270000,75.750000,87.360001
2,2013-09-25,75.989998,118.510002,84.500000,24.430000,124.070000,59.319997,64.449997,24.230000,162.309998,...,28.490000,77.720001,34.049999,85.980003,71.980003,109.260002,191.559998,46.950001,74.650002,87.139999
3,2013-09-26,76.320000,119.379997,84.199997,23.770000,123.489998,59.509996,65.239998,24.250000,162.289993,...,28.520000,78.050003,34.230000,85.830002,72.160004,109.660004,193.559998,47.669998,74.620003,87.070000
4,2013-09-27,75.889999,118.739998,83.800003,23.330000,122.639999,59.009995,65.190002,24.049999,159.850006,...,28.879999,77.209999,33.980000,85.410004,71.989998,109.360001,193.050003,47.000000,74.360001,86.900002

In [4]:
x = PCA(n_components=10)

In [21]:
x.fit_transform(data.ix[:,1:], y['^DJI'])

array([[-50.90240358, -17.63167724,  -7.7360209 , ...,   3.55657041,
         -5.82197358,  -1.72604005],
       [-52.84690919, -19.14690749,  -7.27254551, ...,   3.43259929,
         -5.63318106,  -2.0122316 ],
       [-54.61443917, -19.92735811,  -8.10995831, ...,   4.17520282,
         -5.38828678,  -2.75269933],
       ...,
       [ 83.79819948, -16.95241334,   8.25265611, ...,   2.92390381,
         -4.59543822,  -2.99033503],
       [ 79.19578947, -19.14436008,   6.93262976, ...,   3.40475421,
         -3.66793327,  -3.57607629],
       [ 82.96885933, -13.13513974,   9.07644299, ...,   3.75100423,
         -4.79172198,  -3.03918865]])

In [27]:
sum(x.explained_variance_ratio_[:4])

0.92774295378364047

In [28]:
with open('ans4.2', 'w') as f:
    f.write('4')

In [29]:
!less ans4.2

4

In [55]:
first = x.transform(data.ix[:,1:])[:,0]
ans2 = np.corrcoef(first, y['^DJI'])[0,1]

In [62]:
with open('ans4.3', 'w') as f:
    f.write(str(round(ans2, 2)))

In [63]:
!less ans4.3

0.91

In [99]:
np.argmax(x.components_[0])

26

In [108]:
with open('ans4.4', 'w') as f:
    f.write(str(data.columns[np.argmax(x.components_[0])+1])+'isa')

In [109]:
!less ans4.4

Visa

In [91]:
data.columns

Index([u'date', u'AXP', u'BA', u'CAT', u'CSCO', u'CVX', u'DD', u'DIS', u'GE',
       u'GS', u'HD', u'IBM', u'INTC', u'JNJ', u'JPM', u'KO', u'MCD', u'MMM',
       u'MRK', u'MSFT', u'NKE', u'PFE', u'PG', u'T', u'TRV', u'UNH', u'UTX',
       u'V', u'VZ', u'WMT', u'XOM'],
      dtype='object')