In [1]:
from sklearn import metrics
import numpy as np
import pandas as pd

In [2]:
cl_data = pd.read_csv('classification.csv')
scores_data = pd.read_csv('scores.csv')

In [8]:
cl_data

     true  pred
0       1     0
1       1     1
2       1     1
3       0     0
4       1     1
5       1     1
6       1     1
7       0     1
8       0     0
9       0     1
10      1     0
11      0     1
12      1     1
13      0     1
14      0     0
15      0     1
16      1     1
17      0     1
18      0     0
19      0     0
20      0     1
21      1     1
22      1     1
23      1     0
24      0     0
25      0     0
26      1     1
27      1     1
28      0     0
29      1     0
..    ...   ...
170     1     1
171     0     0
172     0     0
173     0     0
174     0     0
175     0     0
176     1     0
177     0     1
178     0     0
179     1     0
180     0     1
181     0     0
182     0     0
183     1     0
184     0     1
185     0     0
186     1     0
187     1     0
188     0     0
189     1     0
190     1     0
191     1     0
192     1     0
193     1     1
194     1     0
195     0     0
196     0     0
197     1     0
198     0     1
199     0     0

[200 rows x 2 columns]

In [54]:
tp = cl_data[(cl_data['true'] == 1) & (cl_data['pred'] == 1)].count()[0]
fp = cl_data[(cl_data['true'] == 0) & (cl_data['pred'] == 1)].count()[0]
tn = cl_data[(cl_data['true'] == 0) & (cl_data['pred'] == 0)].count()[0]
fn = cl_data[(cl_data['true'] == 1) & (cl_data['pred'] == 0)].count()[0]

In [42]:
acc = metrics.accuracy_score(cl_data.true, cl_data.pred)
prec = metrics.precision_score(cl_data.true, cl_data.pred)
recall = metrics.recall_score(cl_data.true, cl_data.pred)
f1 = metrics.f1_score(cl_data.true, cl_data.pred)

In [55]:
with open('ans4.1', 'w') as f:
    f.write(str(tp) + ' ' + str(fp) + ' ' + str(fn) + ' ' + str(tn))
with open('ans4.2', 'w') as f:
    f.write(str(round(acc,2)) + ' ' + str(round(prec,2)) + ' ' + str(round(recall,2)) + ' ' + str(round(f1,2)))

In [50]:
!less ans4.1

43 64 59 34

In [56]:
scores_data.head()

   true  score_logreg  score_svm  score_knn  score_tree
0     0      0.683832   0.145976   0.787063    0.500000
1     1      0.801966   0.239511   1.000000    0.833333
2     0      0.382315  -0.245701   0.000000    0.000000
3     1      0.506797  -0.137058   0.000000    0.105263
4     1      0.488781  -0.154148   0.000000    0.105263

In [94]:
import operator
d_auc_roc = {a: metrics.roc_auc_score(scores_data.true, eval('scores_data.'+a)) for a in scores_data.columns[1:5]}
ans3 = max(d_auc_roc.iteritems(), key=operator.itemgetter(1))[0]

In [84]:
with open('ans4.3', 'w') as f:
    f.write(ans3)

In [92]:
!less ans4.3

score_logreg

In [107]:
test = pd.DataFrame([[1,2,],[3,4], [5,6], [7,8]],[a for a in scores_data.columns[1:5]], ['precision', 'recall'])
test

              precision  recall
score_logreg          1       2
score_svm             3       4
score_knn             5       6
score_tree            7       8

In [122]:
df_pr = [[metrics.precision_score(scores_data.true, eval('scores_data.'+a)), metrics.recall_score(scores_data.true, eval('scores_data.'+a))] 
            for a in scores_data.columns[1:5]]

ValueError: Can't handle mix of binary and continuous

In [153]:
precision, recall, _ = metrics.precision_recall_curve(scores_data.true, scores_data.score_knn)
df = pd.DataFrame(np.asarray(zip(precision, recall, thresholds)))
knn = df[df[1] >= 0.7].max()[0]

In [167]:
def get_ans4(name):
    precision, recall, _ = metrics.precision_recall_curve(scores_data.true, eval('scores_data.' + name))
    df = pd.DataFrame(np.asarray(zip(precision, recall, thresholds)))
    return df[df[1] >= 0.7].max()[0]

In [185]:
d_pr = {a:get_ans4(a) for a in scores_data.columns[1:5]}
ans4 = max(d_pr.iteritems(), key=operator.itemgetter(1))[0]

In [187]:
with open('ans4.4', 'w') as f:
    f.write(ans4)

In [188]:
!less ans4.4

score_tree